:root {
--gunmetal: #022b3aff;
--green-sheen: #64b6acff;
--key-lime: #ecfeaaff;
--fire-opal: #ef6351ff;
--sugar-plum: #8e5572ff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
    background-color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
    font-size: 2vw;
}
h2 {
    font-size: 1vw;
}
p {
    font-size: 1vw;
}
.App-link {
  color: #61dafb;
}
.GridWorld {
    position: relative;
    margin: auto;
    margin-top: 2vw;
    width: 20vw;
    height: 20vw;
    padding: 0;
    background-color: var(--gunmetal);
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}
.Tile {
    background-color: var(--gunmetal);
    padding: 0;
    margin: 0;
    --border-style: solid;
}
.Tile.Snake {
    background-color: var(--fire-opal);
}
.Tile.Food {
    background-color: var(--key-lime);
}
.Tile.Head {
    background-color: var(--sugar-plum);
}
